.card {
    background: #F1F1F1;
    padding: 1.6rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 15;
    position: relative;
}

.blog__container > *:not(:last-child){
    margin-bottom: 1.6rem;
}

.blog__container > *:first-child {
    margin-top: 1.6rem;
}

.card__title {
    color: #6D8699;
    margin-bottom: 0;
}

.card__post-date {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 300;
    text-decoration: underline;
    color: #585858;
    margin-bottom: 1.6rem;
}

.card__avatar {
    /* Rounded border */
    border-radius: 50%;

    /* Size */
    width: 10rem;

    display: inline;
}

.card__avatar-image {
    /* Size */
    width: 50%;
    border-radius: 100%;
    display: inline-block;
}

.card__link {
    display: block;
    text-align: right;
}

@media (min-width: 800px) {
    .blog__container > *:not(:last-child){
        margin-bottom: 0;
    }

    .blog__container > *:first-child {
        margin-top: 0;
    }

    .card__details {
        margin-top: auto;
    }

}