@media (min-width: 1000px) {
    .about-grid {
        display: flex;
        gap: 20px;
    }

    .about-grid>div {
        width: 50%
    }

    .about-col-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-col-1 img {
        max-width: 600px;
    }

    .about-col-2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about-col-2 img {
        max-width: 600px;
    }
}