.blog__header {
    color: var(--color-xanadu-green);
    text-align: center;
}

.blog__container > *:not(:last-child) {
    margin-bottom: 4rem;
}

.post__header {
    margin-bottom: 5rem;
    padding: 4rem 0;
    background-color: #6d8699;
    text-align: center;
}

.post__header h1 {
    color: #eae9e6;
}

.post__content {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}