@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import "./variables.css";
@import "./styles.css";
@import "./utilities.css";

html {
  font-size: 6.25%;
}


body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-size: 18rem;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-text-color);
  text-shadow: var(--shadow-elevation-medium);
}

h1 {
  font-size: 35rem;
  font-weight: 700;
}

h2 {
  font-size: 30rem;
  font-weight: 600;
}

.container {
  max-width: 1200rem;
  margin: 0 auto;
}