@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "./variables.css";
@import "./utilities.css";

/* COMPONENT STYLES*/
@import "../components/Nav/nav.css";
@import "../components/Footer/footer.css";
@import "../components/Button/button.css";
@import "../components/Card/card.css";
@import "../components/InformationCard/InformationCard.css";

/* PAGE STYLES */
@import "./index.css";
@import "./blog.css";
@import "./resume.css";

html {
  font-size: 62.5%;
}


body {
  background-color: var(--color-platinum-gray);
  color: var(--color-light);
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-xanadu-green);
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 3.2rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 3.4rem;
  font-weight: 600;
}

p {margin-bottom: 1em; line-height: 2.5em; color: #42505C; font-family: 'Lora', serif;}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

main {
  min-height: 50vh;
}

@media (min-width: 1300px) {


  h2 {
    /* font-size: 3.8rem; */
    font-weight: 600;
  }
}