@import "./reset.css";
@import "./variables.css";
@import "./styles.css";

html {
  font-size: 6.25%;
}


body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-size: 16rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-text-color);
}