main {
    margin-bottom: 4em;
}

main > section {
    padding: 2.4rem 0;
}

.home-header {
    padding: 4rem 0;
}

.home-header__grid {
    display: flex;
    flex-direction: column;
}

.home-header__col-1 {
    order: 2;
}

.home-header__col-2 {
    order: 1;
}

.home-header__image-wrapper {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 4em;
}

.home-header__image-wrapper > span {
    display: block !important;
}

.home-header__image-wrapper img {
    border-radius: 1rem !important;
}

.home-header__social-icons {
    margin: 3.2rem 0;
    display: flex;
    justify-content: space-between;
    width: 27.7rem;
}

.home-about {
    background-color: var(--color-secondary-dark);
    color: #404030;
}

.home-about h2 {
    text-align: center;
}

.home-services {
    position: relative;
}

.home-services__blob1 {
    position: absolute;
    left: 0;
    z-index: -1;
}

.home-services__blob2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.home-services__grid {
    display: grid;
    grid-row-gap: 2rem;
}

.home-skills h2 {
    text-align: center;
}

.home-skills__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4.5em 1em;
    justify-content: center;
}

.home-contact h2 {
    text-align: center;
}

.home-contact__form {
    width: 100%;
    max-width: 56.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}

.home-contact__form > input, textarea, button {
    background-color: #D9D9D9;
    padding: 1rem 0.8rem;
    border-radius: 1rem;
}

.home-contact__form > input[type="submit"] {
    background-color: #6E8599;
    color: var(--color-platinum-gray);
    width: 10rem;
    text-align: center;
    margin: 0 auto;
}

.home-contact__form > input[type="submit"]:hover {
    cursor: pointer;
}

.home-contact__form > button {
    width: 10rem;
    text-align: center;
    background-color: #6D8699;
    color: var(--color-platinum-gray);
    margin: 0 auto;
}


@media (min-width: 800px) {
    .home-header__grid {
        flex-direction: row;
        align-items: center;
        column-gap: 4em;
    }

    .home-header__col-1 {
        width: 60%;
        order: 1;
    }

    .home-header__col-2 {
        width: 40%;
        order: 2;
    }

    .home-about__grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-services__grid {
        grid-template-columns: repeat(3, 31%);
        grid-column-gap: 2rem;
    }

    .home-about__col-2 {
        width: 55rem;
    }

    .home-skills__grid {
        column-gap: 4em;
    }

    .home-skills__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }

    .home-skills__col {
        justify-self: center;
    }
}

@media (min-width: 1300px) {

    .home-header__grid p {
        width: 75%;
    }
}