main {
    margin-bottom: 4em;
}

.home-header {
    margin-bottom: 4em;
}
.home-header__col-1 h1 {
    margin-bottom: 1.5em;
}

.home-header__image-wrapper {
    max-width: 75%;
    margin: 0 auto;
    box-shadow: var(--shadow-elevation-medium)!important;
    max-width: 500px;
    width: 100%;
}

.home-header__image-wrapper > span {
    border-radius: 1rem;
    border: 0.8rem solid white !important;
    display: block !important;
}

.home-header__image-wrapper img {
    border-radius: 1rem !important;
}

.home-about {
    margin-bottom: 4em;
}

.home-about h2 {
    margin-bottom: 0.5em;
}

.home-skills h2 {
    margin-bottom: 0.5em;
    text-align: center;
}

.home-skills__grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4.5em 1em;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .home-header__grid {
        display: flex;
        align-items: center;
    }

    .home-header__grid h1 {
        font-size: 4.5rem;
        margin-bottom: 0;
    }

    .home-about__col-2 {
        column-count: 2;
        text-align: left;
    }

    .home-skills__grid {
        column-gap: 4em;
    }
}

@media screen and (min-width: 1280px) {
    .home-header__grid h1 {
        font-size: 9rem;
    }
}