.content-margin-bottom {
    margin-bottom: var(--content-margin);
}

.uppercase-text {
    text-transform: uppercase;
}

.set-bold {
    font-weight: 700;
}

.highlight-text {
    color: var(--color-secondary-dark);
}

.underline-text::after {
    content: "";
    display: block;
    max-width: 100px;
    height: 0.4rem;
    background-color: var(--color-secondary-dark);
}