.content-margin-bottom {
    margin-bottom: var(--content-margin);
}

.uppercase-text {
    text-transform: uppercase;
}

.set-bold {
    font-weight: 700;
}

.highlight-text {
    color: var(--color-secondary-dark);
}